body {
    background-color: #f8f9fa;
    padding: 20px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#searchInput {
    margin-bottom: 20px;
}

#migrateFilter {
    margin-bottom: 20px;
    height: auto;
    min-height: 38px;
}

#migrateFilter option {
    padding: 8px;
}

.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-left: none;
}

.form-check-input {
    margin-right: 5px;
} 